<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>witticism</title>
        <link rel="stylesheet" href="public/socialnetwork.css">
        <link rel="icon" href="/public/logo/logolila.ico">
    </head>
    <body>
        <div class="grid-container">
            <header class="grid-item grid-header">
                <nav>
                    <img class="logo" src="/public/logo/logolila.png" alt="Logotipo"/>
                    <div>
                        <ul class="navigation">
                            <li class="navigation__index"><a href="http://localhost:8080/">Home</a></li>
                            <li class="navigation__index"><a href="#">Explore</a></li>
                            <li class="navigation__index"><a href="#">Notifications</a></li>
                            <li class="navigation__index"><a href="#">Messages</a></li>
                            <li class="navigation__index"><a href="#">Profile</a></li>
                            <li class="navigation__index"><a href="#">More options</a></li>
                            <li class="navigation__index"> 
                                <form th:action="@{/logout}" method="post">
                                <input type="submit" value="Sign Out"/>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <article class="grid-item grid-article">
                <section>
                    <h1>Welcome, <span th:text="${user.getName()}">User name here</span></h1>
                    <h2>What's on your mind?</h2>
                    <form>
                        <input type="text" value="Tell us about your day">
                    </form>
                    <form th:action="@{/post}" th:object="${publication}" method="post">
                        <div>
                            <textarea th:field="*{text}" placeholder="Your publication text here" required></textarea>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" th:field="*{restricted}">
                                For friends only
                            </label>
                        </div>
                        <div><input type="submit" value="Post!"></div>
                    </form>
                </section>
                <section>
                    <h2>Last news</h2>
                    <div class="publications">
                        <div class="publication" th:each="publication : ${publications}">
                            <div class="publication_meta">
                                <a href="http://localhost:8080/user/2"><span class="user" th:text="${publication.getUser().getName()}">Pepe</span></a>
                                <span class="publication_restricted" th:if="${publication.isRestricted()}">restricted</span>
                                <span class="publication_public" th:if="${!publication.isRestricted()}">public</span>
                                <span class="timestamp" th:text="${publication.getTimestamp()}">15 de marzo de 2021</span>
                            </div>
                            <div class="publication_text" th:text="${publication.getText()}">
                                El texto del mensaje
                            </div>
                            <form>
                                <input type="button" value="like">
                                <input type="text" value="comment">
                                <input type="button" value="share">
                            </form>
                        </div>
                    </div>
                </section>
            </article>
            <footer class="grid-item grid-footer">
                <p>Privacy policy · Copyrigth</p>
            </footer>
        </div>
        
    </body>
</html>
